/* * {
    outline: 1px solid skyblue;
} */

.page {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    background: #2A2C2F;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 28px 0 24px;
    font-family: Inter, Arial, Tahoma, sans-serif;
}

@media screen and (max-width: 425px) {
    .page {
        padding: 22px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        padding: 16px 0 24px;
    }
}
