* {
    outline: 1px solid skyblue;
}

.page {
    position: relative;
    background: #2A2C2F;
    max-width: 1280px;
    margin: 0 auto;
    padding: 28px 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 425px) {
    .page {
        padding: 22px 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        padding: 16px 0 24px;
    }
}
