.photo-grid {
    margin: 92px auto 0;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
    max-width: 1184px;
    min-width: 288px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
}
