.photo-grid {
    margin: 0 48px 92px;
    display: grid;
    justify-self: center;
    grid-template-rows: repeat(3, 1fr);
    gap: 14px;
    max-width: 1184px;
    min-width: 288px;
    grid-template-columns: repeat(4, 1fr);
}


/* Для переноса изображений на следующую строку в photo-grid можно использовать ключевые слова auto-fit и minmax: https://medium.com/@stasonmars/%D0%BA%D0%B0%D0%BA-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0%D1%8E%D1%82-auto-fill-%D0%B8-auto-fit-%D0%B2-css-grid-7d903a6c678e */

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        margin: 0 24px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .photo-grid {
        max-width: 288px;
        margin: 0 16px;
        grid-template-columns: 1fr;
    }
}
