.photo-grid {
    margin: 0 48px 92px;
    display: grid;
    justify-self: center;
    grid-template-rows: repeat(3, 1fr);
    gap: 14px;
    max-width: 1184px;
    min-width: 288px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        gap: 16px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        margin: 0 24px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .photo-grid {
        max-width: 288px;
        margin: 0 16px;
        grid-template-columns: 1fr;
    }
}
