.places {
    margin: 0 12%;
    max-width: 76%;
    display: grid;
    grid-template-columns: 1fr;
}

.places :first-child {
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .places {
        margin: 92px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .places {
        margin: 92px 24px 0;
    }
}

@media screen and (max-width: 425px) {
    .places {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 0;
    }
}
