.header__lang {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, max-content);
    align-self: center;
    gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}
