.intro__list {
    margin: 32px 0 0 0;
    padding: 0;
    list-style: none;
    font-family: Inter, Arial, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .intro__list {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro__list {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 425px) {
    .intro__list {
        margin-left: 16px;
        margin-right: 16px;
    }
}
