.intro__list {
    margin: 32px 0 0 0;
    padding: 0;
    list-style: none;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}


/* @media screen and (max-width: 1024px) {
    .intro__list {}
}

@media screen and (max-width: 768px) {
    .intro__list {}
}

@media screen and (max-width: 425px) {
    .intro__list {}
}

@media screen and (max-width: 320px) {
    .intro__list {}
} */
