.lead {
    max-width: 76%;
    margin: 0 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .lead {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        margin: 0;
    }
}
