.intro__text {
    margin: 40px 0 0 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}


/* @media screen and (max-width: 1024px) {
    .intro__text {}
}

@media screen and (max-width: 768px) {
    .intro__text {}
}

@media screen and (max-width: 425px) {
    .intro__text {}
}

@media screen and (max-width: 320px) {
    .intro__text {}
} */
