.intro {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    margin-top: 92px;
    margin-left: 12%;
    margin-right: auto;
    /* max-width: 53.9%; */
    max-width: 690px;
    align-self: start;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 690px;
        margin: 92px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 100%;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 500px) {
    .intro {
        max-width: 100%;
        margin: 64px 16px 0;
    }
}
