.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 92px auto 0;
    max-width: 1184px;
    height: 740px;
    background-image: url(../../images/baikal-background.png);
}
