.place__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}


/* @media screen and (max-width: 1024px) {
    .place__link {}
}

@media screen and (max-width: 768px) {
    .place__link {}
} */

@media screen and (max-width: 425px) {
    .place__link {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        display: none;
    }
}
