.cover__title {
    margin: 245px auto 0;
    max-width: 560px;
    max-height: 152px;
    z-index: 1;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}
