.footer__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, max-content);
    grid-auto-flow: column;
    align-self: center;
    gap: 18px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .footer__list {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, max-content);
        align-self: start;
        gap: 32px;
    }
}


/* @media screen and (max-width: 320px) {
    .footer__list {}
} */
