.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92.5%;
    max-height: 18px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 758px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        max-height: 310px;
        margin: 0 16px;
    }
}


/* @media screen and (max-width: 320px) {
    .footer {}
} */
