.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 758px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 16px;
    }
}
